<?xml version="1.0" encoding="UTF-8"?>

<!--
 ~ Copyright (c) 2026, WSO2 LLC. (https://www.wso2.com). All Rights Reserved.
~
~ his software is the property of WSO2 LLC. and its suppliers, if any.
~ Dissemination of any information or reproduction of any material contained
~ herein in any form is strictly forbidden, unless permitted by WSO2 expressly.
~ You may not alter or remove any copyright or other notice from copies of this content.
-->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>WSO2 Open Banking - Consent API</display-name>
    <description>WSO2 Open Banking - Consent API</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/beans.xml</param-value>
    </context-param>

    <filter>
        <filter-name>HttpHeaderSecurityFilter</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
        <init-param>
            <param-name>hstsEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>HttpHeaderSecurityFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ConsentCXFServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
        </servlet-class>
        <init-param>
            <param-name>service-list-stylesheet</param-name>
            <param-value>servicelist.css</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                org.wso2.openbanking.fdx.extensions.api.PreProcessConsentCreationApi,
                org.wso2.openbanking.fdx.extensions.api.EnrichConsentCreationResponseApi,
                org.wso2.openbanking.fdx.extensions.api.PreProcessConsentRetrievalApi,
                org.wso2.openbanking.fdx.extensions.api.PreProcessConsentRevokeApi,
                org.wso2.openbanking.fdx.extensions.api.PopulateConsentAuthorizeScreenApi,
                org.wso2.openbanking.fdx.extensions.api.PersistAuthorizedConsentApi,
                org.wso2.openbanking.fdx.extensions.api.ValidateConsentAccessApi,
                org.wso2.openbanking.fdx.extensions.api.IssueRefreshTokenApi,
                org.wso2.openbanking.fdx.extensions.api.ValidateAuthorizationRequestApi,
                org.wso2.openbanking.fdx.extensions.api.ValidateEventCreationApi,
                org.wso2.openbanking.fdx.extensions.api.ValidateEventPollingApi,
                org.wso2.openbanking.fdx.extensions.api.EnrichEventPollingResponseApi,
                org.wso2.openbanking.fdx.extensions.api.ValidateEventSubscriptionApi,
                org.wso2.openbanking.fdx.extensions.api.EnrichEventSubscriptionResponseApi,
                org.wso2.openbanking.fdx.extensions.api.PreProcessClientCreationApi,
                org.wso2.openbanking.fdx.extensions.api.PreProcessClientUpdateApi,
                org.wso2.openbanking.fdx.extensions.api.MapAcceleratorErrorResponseApi,
                org.wso2.openbanking.fdx.extensions.api.EnrichConsentFileResponseApi,
                org.wso2.openbanking.fdx.extensions.api.PreProcessConsentFileUploadApi,
                org.wso2.openbanking.fdx.extensions.api.ValidateConsentFileRetrievalApi,
                org.wso2.openbanking.fdx.extensions.api.PreProcessClientRetrievalApi,
                org.wso2.openbanking.fdx.extensions.api.EnrichConsentSearchResponseApi
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConsentCXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>

