@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-orange:#FF7433;
    --color-gradient2:#EAA340;
    --color-font-color1:#ecf0f1;
    --header-greadient:linear-gradient(90deg, var(--color-orange) 0.06%, var(--color-gradient2) 139.7%);
    --color-shadow:#bdc3c7
}

*{
    margin: 0;
    padding: 0;
}